include yardwiz yardwiz.desktop.in README.md LICENSE ReleaseNotes.md VERSION
recursive-include yardwizgui/config *
recursive-include yardwizgui/icons *
recursive-include yardwizgui/sounds *
global-exclude *.pyc
